#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding:0 2rem;
  text-align: center;
  color: white;
  background-color: rgb(12, 12, 12);
}

body{
  background-color: black;
}
footer{
margin-top: 50vh;
color: blueviolet;
}
header{
  margin-top: 0;
}
.deleteBtn{
  background-color: rgb(212, 255, 0);
  padding: 5px;
  border-radius: 5px;
}
.addBtn{
  background-color: rgb(105, 105, 203);
  height: 30px;
  padding: 5px;
  border-radius: 5px;
}
.completeBtn{
  background-color: rgb(128, 162, 177);
  padding: 5px;
  border-radius: 5px;
}

.addBtn:hover{
  color: aliceblue;
  background-color: green;
}
.deleteBtn:hover{
  color: aliceblue;
  background-color: red;
}

.completeBtn:hover{
  color: aliceblue;
  background-color: rgb(55, 255, 0);
}
